name: CI - CUDA Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: nvidia/cuda:12.2.0-devel-ubuntu22.04

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          apt update
          apt install -y build-essential cmake 

      - name: Install CUDA
        uses: Jimver/cuda-toolkit@v0.2.29
        with:
          version: 12.5

      - name: Build
        run: |
          make j$(nproc)


